@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Calibri', Helvetica, Arial, sans-serif;
    background-color: #919ce3;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .divService {
        border: 1px solid black;
        padding: 10px;
        margin: 5px;
        width: 100%;
    }
}

@media only screen and (min-width: 770px) {
    /* For mobile phones: */
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .divService {
        border: 1px solid black; 
        padding: 25px; 
        width: 65%; 
        margin: 15px;
    }
}



.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.mainContainer{
	font-family:Calibri;
	background-color:#eeeeee;
	height:100%;
	width:100%;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
