@page "/fetchdata"

@using ProCivReport.Data


<h1>Rapporto di Servizio</h1>

<EditForm Model="@paths" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label><strong>Verbale Nr: </strong><input type="text" /></label>
        <label><strong>Data: </strong><input type="date" /></label>
        <ul style="list-style-type: none;">
            <li><input type="checkbox" />  Monitoraggio Territorio  </li>
            <li><input type="checkbox" />  Esercitazione </li>
            <li><input type="checkbox" />  Gest. Attrezzatura/Sede  </li>
            <li><input type="checkbox" />  COR/SOUP  </li>
            <li><input type="checkbox" />  Corso Formazione  </li>
            <li><input type="checkbox" />  Emergenza  <input type="text" /></li>
            <li><input type="checkbox" />  Altro  <input type="text" /></li>
        </ul>
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label><strong>Caposquadra: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
        <label><strong>Addetto: </strong><input type="text" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" /></label><br />
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label>
            <h3>VEICOLI: </h3>
            <label><strong>Mezzo: </strong><input type="text" /></label>&nbsp;<label><strong>Targa: </strong><input type="text" /></label>&nbsp;<label><strong>TOT KM: </strong><input type="text" /></label><br />
            <label><strong>Mezzo: </strong><input type="text" /></label>&nbsp;<label><strong>Targa: </strong><input type="text" /></label>&nbsp;<label><strong>TOT KM: </strong><input type="text" /></label><br />
            <label><strong>Mezzo: </strong><input type="text" /></label>&nbsp;<label><strong>Targa: </strong><input type="text" /></label>&nbsp;<label><strong>TOT KM: </strong><input type="text" /></label><br />
        </label>
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label>
            <h3>1° Gruppo: </h3>
            <label><strong>Ora di Partenza: </strong><input type="time" @bind="FirstDepHour" /></label>&nbsp;<label><strong>Ora di Arrivo: </strong><input type="time" @bind="FirstArrHour" /></label>&nbsp;<label><strong>Ore Totali: </strong><input type="text" @onfocus="eventArgs => { CalculateGroup(1); }" value="@FirstTotalHour"/></label><br />
        </label>

        <label>
            <h3>2° Gruppo: </h3>
            <label><strong>Ora di Partenza: </strong><input type="time" @bind="SecondDepHour"/></label>&nbsp;<label><strong>Ora di Arrivo: </strong><input type="time" @bind="SecondArrHour"/></label>&nbsp;<label><strong>Ore Totali: </strong><input type="text" @onfocus="eventArgs => { CalculateGroup(2); }" value="@SecondTotalHour" /></label><br />
        </label>
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label><strong>Note: </strong><textarea> </textarea></label>
    </div>

    <button type="submit">Salva</button>


</EditForm>
@code {
    private Paths paths = new() { StreetList = new List<Street>() };

    private void HandleValidSubmit() { }

    private DateTime FirstDepHour;
    private DateTime FirstArrHour;
    private DateTime SecondDepHour;
    private DateTime SecondArrHour;
    private string FirstTotalHour;
    private string SecondTotalHour;

    private void CalculateGroup(int groupNumber)
    {

        var difference = groupNumber == 1 ? FirstArrHour.Subtract(FirstDepHour) : SecondArrHour.Subtract(SecondDepHour);
        if (groupNumber == 1)
            FirstTotalHour = difference.TotalHours.ToString();
        else
            SecondTotalHour = difference.TotalHours.ToString();
    }
}
