@page "/"

<div class="mainContainer">
    <div class="row">
        <div class="col-lg-2 col-md-auto"><img src="vpcc_cyan_logo.jpg" width="100%"></div>
        <div class="col-lg-10 col-md-auto">
            <span style="font-family: 'Segoe UI'; font-weight: bold; color: #365dbc; font-size: 4vw;">VOLONTARI PROTEZIONE CIVILE DI CALDERARA DI RENO</span>
        </div>
    </div>
</div>






