@page "/parkMonitoring"

@using ProCivReport.Data
@using ProCivReport.Models
@using System.Reflection.Metadata
@inject IJSRuntime _jsRuntime
@inject HttpClient _http
@inject Persistency _persistency

<h1>Monitoraggio Parchi</h1>


