@page "/print"
@using ProCivReport.Data
@using System
@using System.Runtime.CompilerServices
@using ProCivReport.Models
@inject IJSRuntime _jsRuntime
@inject HttpClient _http
@inject Persistency _persistency

<h1>Stampa Documentazione</h1>
@foreach (var pdf in pdfList)
{
    <a href="@pdf.Value">@pdf.Key</a><br />
}

