<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProCivReport</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNavMonTerr = !expandSubNavMonTerr">
                Monitoraggio Territorio <span class="oi oi-caret-right" aria-hidden="true" style="margin-left:10px;"></span>
            </NavLink>
            @if (expandSubNavMonTerr)
                {
            <ul class="nav flex-column">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="pathlist">
                        <span class="oi oi-map-marker" aria-hidden="true"></span> Percorsi
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="servicereport">
                        <span class="oi oi-document" aria-hidden="true"></span> Inserisci Rapporto
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="guasti">
                        <span class="oi oi-warning" aria-hidden="true"></span> Inserisci Guasti
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="print">
                        <span class="oi oi-print" aria-hidden="true"></span> Stampa Report
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="parkMonitoring">
                        <span class="oi oi-clipboard" aria-hidden="true"></span> Monitoraggio Parchi
                    </NavLink>
                </li>
            </ul>
                }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandAnagrafiche = !expandAnagrafiche">
                Anagrafiche <span class="oi oi-caret-right" aria-hidden="true" style="margin-left:10px;"></span>
            </NavLink>
            @if (expandAnagrafiche)
                {
            <ul class="nav flex-column">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="newuser">
                        <span class="oi oi-person" aria-hidden="true"></span> Nuovo Utente
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="newvehicle">
                        <span class="oi oi-compass" aria-hidden="true"></span> Nuovo Veicolo
                    </NavLink>
                </li>
            </ul>
                }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandRepElettrico = !expandRepElettrico">
                Reparto Elettrico <span class="oi oi-caret-right" aria-hidden="true" style="margin-left:10px;"></span>
            </NavLink>
            @if (expandRepElettrico)
                {
            <ul class="nav flex-column">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="generatorManagement">
                        <span class="oi oi-droplet" aria-hidden="true"></span>Gruppi Elettogeni
                    </NavLink>
                </li>
            </ul>
                }
        </li>
    </ul>
</div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

        private bool expandSubNavMonTerr;
        private bool expandAnagrafiche;
        private bool expandRepElettrico;


    }